// Colors
$dark-blue: #0B0D17;
$light-blue: #d2d8f9;
$white: #FFFFFF;
     
// Typography
//heading 1
$h1-font-family: 'Bellefair', Regular;
$h1-font-size: 150px;

//heading 2
$h2-font-family: 'Bellefair', Regular;
$h2-font-size: 100px;

//heading 3
$h3-font-family: 'Bellefair', Regular;
$h3-font-size: 56px;

//heading 4
$h4-font-family: 'Bellefair', Regular;
$h4-font-size: 32px;

//heading 5
$h5-font-family: 'Barlow Condensed', Regular;
$h5-font-size: 28px;
$h5-font-character-space: 4.75px;


//subheading1
$sh1-font-family: 'Bellefair', Regular;
$sh1-font-size: 28px;

//subheading2
$sh2-font-family: 'Barlow Condensed', Regular;
$sh2-font-size: 14px;
$sh2-font-character-space: 2.35px;

//Nav Text
$nav-font-family: 'Barlow Condensed', Regular;
$nav-font-size: 16px;
$nav-font-character-space: 2.70px;

//Body text
$body-font-family: 'Barlow', Regular;
$body-font-size: 18px;
$boby-font-line-height: 32px; 