@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap');

body{
  padding: 0px;
  margin: 0px;
}
h1, h2,h3{
  margin: 0px 0px 0px 0px;
  font-weight: normal;
}
.header{
  position: fixed;
  top: 5%;
  bottom: 80%;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  &-logo{
    background: no-repeat url(../assets/shared/logo.svg);
    background-size:50px;
    width: 50px;
    height: 50px;
    margin: 0px 50px;
  }
  &-line{
    width: 30%;
    border-top: 1px solid $gray;
    margin:0px -30px 0px 0px;
  }
  &-nav{
    background: $background;
    backdrop-filter: blur(81.5485px);
    width: 60vw;
    height: 80px;
    padding: 0px 100px;
    box-sizing: border-box;
    text-transform: uppercase;
    @include nav-font;
    &_link{
      box-sizing: border-box;
      display: inline-block;
      height: 100%;
      color:$white;
      line-height: 80px;
      text-decoration: none;
      margin: 0px 30px 0px 0px;
      &_active{
        border-bottom: 5px solid $white;
      }
      &:hover{
        @include hover;
      }
    }
    &_number{
      font-weight: $fw7;
    }
  }
  &-burguer{
    background:no-repeat url(../assets/shared/icon-hamburger.svg);
    width: 24px;
    height: 21px;
    display: none;
  }
  &-close{
    background:no-repeat url(../assets/shared/icon-close.svg);
    width: 21px;
    height: 20px;
    display: none;
  }
}
.main {
  background: no-repeat url(../assets/home/background-home-desktop.jpg);
  background-position: -100px -130px;
  background-size: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &-content{
    margin: 0px 0px 0px 0px;
    width: 450px;
    height: 382px;
    color: white;
    &_subheading{
      text-transform: uppercase;
      font-weight: 300;
      @include heading_5;
    }
    &_heading{
      @include heading_1;
      font-weight: 400;
      text-transform: uppercase;
    }
    &_text{
      @include body_text;
      margin: 0px;
    }
  }
  &-button{
    background-color: $white;
    color: $dark-blue;
    width: 230px;
    height: 230px;
    border: none;
    border-radius: 50%;
    margin: 0px 0px 60px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease-out 400ms all;
    @include heading_4;
    &:hover{
      box-shadow: 0px 0px 0px 50px $gray;
    }
  }
}
.destination{
  background: no-repeat url(../assets/destination/background-destination-desktop.jpg);
  background-color: $dark-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  &-moon{
    background: no-repeat url(../assets/destination/image-moon.png);
    @include image_size_planet;
  }
  &-mars{
    background: no-repeat url(../assets/destination/image-mars.png);
    @include image_size_planet;
  }
  &-titan{
    background: no-repeat url(../assets/destination/image-titan.png);
    @include image_size_planet;
  }
  &-europa{
    background: no-repeat url(../assets/destination/image-europa.png);
    @include image_size_planet;
  }
  &-line{
    width: 100%;
    border-top: 1px solid $gray;
    margin:0px 0px 15px 0px;
  }
  &-content{
    color: $white;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
    &_title{
      @include heading_5;
      width: 100%;
      margin: 0px 0px 20px 0px;
      text-transform: uppercase;
    }
    &_number{
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.5;
      font-weight: 700;
    }
    &-info{
      width: 45%;
      &_nav{
        height: 25px;
      }
      &_navlink{
        @include nav-font;
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        margin: 0px 30px 0px 0px;
        height: 100%;
        &_active{
          border-bottom: 5px solid $white;
        }
        &:hover{
          @include hover;
        }
      }
      &_title{
        @include heading_2;
        text-transform: uppercase;
        margin: 10px 0px 0px 0px;
      }
      &_text{
        @include body_text;
        height: 120px;
        margin:0px 0px 30px 0px;
      }
      &_wrapper{
        display: flex;
      }
      &_distanceTime{
        @include subheading_2;
        text-transform: uppercase;
        margin: 0px 50px 0px 0px;
      }
      &_number{
        @include subheading_1;
        text-transform: uppercase;
        margin: 10px 50px 0px 0px;
      }
    }
  }
}

.crew{
  background-color: $dark-blue;
  background: no-repeat url(../assets/crew/background-crew-desktop.jpg) 0px -160px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  &-title{
    @include heading_5;
    width: 100%;
    margin: 80px 0px 20px 0px;
    text-transform: uppercase;
  }
  &-content{
    width: 50%;
    align-self: center;
    margin: 0px 0px 0px 150px;
    &_subtitle{
      @include heading_4;
      mix-blend-mode: normal;
      opacity: 0.5; 
      text-transform: uppercase;
      margin-top: 80px;
    }
    &_title{
      @include heading_3;
      text-transform: uppercase;
    }
    &_text{
      @include body_text;
      width: 35vw;
    }
    &-circles{
      display: flex;
      &_circle{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $white;
        opacity:0.25;
        mix-blend-mode: normal;
        margin: 40px 15px 0px 0px;
        &:hover{
          opacity: 0.5;
          cursor: pointer;
        }
        &_active{
          opacity: 1;
        }
      }
    }
  }
  &-image{
    width: 40vw;
    height: 75vh;
    object-fit: contain;
    position: relative;
    left: -180px;
  }
}

.technology{
  width: 100vw;
  height: 100vh;
  background: no-repeat url(../assets/technology/background-technology-desktop.jpg);
  background-color: $dark-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-title{
    @include heading_5;
    color: $white;
    margin: 100px 0px 0px 60px;
    text-transform: uppercase;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 150px;
    &_wrapper{
      color: $white;
      width: 60%;
      display: flex;
      align-items: center;
    }
    &_bar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 50px 0px 0px;
    }
    &_number{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid $light-blue;
      border-radius: 50%;
      margin: 30px 0px;
      opacity: 0.5;
      color: $light-blue;
      text-decoration: none;  
      @include subheading_1;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
      &_active{
        background-color: $white;
        color: $dark-blue;
        opacity: 1;
      }
    }
    &_subwrapper{
      width: 80%;
    }
    &_subtitle{
      @include heading_5;
      text-transform: uppercase;
      opacity: 0.5;
    }
    &_title{
      @include heading_3;
      text-transform: uppercase;
    }
    &_text{
      @include body_text;
    }
  }
  &-vehicle{
    background: no-repeat url(../assets/technology/image-launch-vehicle-portrait.jpg);
    background-size: 500px 400px;
    width: 500px;
    height: 400px;
    margin: 0px 0px 30px 0px;
  }
  &-spaceport{
    background: no-repeat url(../assets/technology/image-spaceport-portrait.jpg);
    background-size: 500px 400px;
    width: 500px;
    height: 400px;
    margin: 0px 0px 30px 0px;
  }
  &-capsule{
    background: no-repeat url(../assets/technology/image-space-capsule-portrait.jpg);
    background-size: 500px 400px;
    width: 500px;
    height: 400px;
    margin: 0px 0px 30px 0px;
  }
}

@import './tablet';
@import './phone';